@media (max-width: 1140px) {
  .card {
    width: calc(50% - 15px);
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .quote {
    text-align: center;
  }
  .footer-copyright-name {
    margin-bottom: 30px;
  }
  .contact {
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .header-title {
    font-size: 32px;
  }
  .heder-subtitle {
    font-size: 12px;
  }
  .trening {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .trening-header {
    font-size: 30px;
  }
  .trening-cards-wrapper {
    justify-content: center;
  }
  .card {
    max-width: 530px;
    width: 100%;
  }
  .card:nth-last-child(2) {
    margin-bottom: 30px;
  }
  .card-img {
    margin-bottom: 10px;
  }
  .card-title {
    font-style: 16px;
    margin-bottom: 10px;
  }
  .card p {
    font-style: 12px;
  }
}
