* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.header {
  width: 100%;
  height: 30vh;
  background-color: rgb(86, 8, 60);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3;
  text-align: center;
  color: rgb(237, 205, 125);
}

.heder-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0, 2em;
  text-transform: uppercase;
  color: black;
}

.trening {
  background-color: darkgreen;
  padding-top: 30px;
  padding-bottom: 30px;
}

.trening-header {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  color: rgb(237, 205, 125);
}

.trening-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(50% - 15px);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card-img {
  width: 500px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}
.card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000;
}

.card p {
  font-size: 16px;
  line-height: 1.3;
  color: darkgreen;
  margin: 0;
}

.quote {
  margin-top: 10px;
  color: rgb(237, 205, 125);
}

.footer {
  background-color: rgb(86, 8, 60);
  padding-top: 45px;
  padding-bottom: 45px;
  color: rgb(237, 205, 125);
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  line-height: 1.3;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.contact {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}

.contact p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}

.contact-safari {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}

.contact-safari p {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}

a {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  color: darkgreen;
  line-height: 1.3;
}
